<div>

  <div>
    <h2>User info</h2>


    <table>
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>

        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>



      </tbody>
    </table>

    <% if @user == current_user %>

      <p><%= link_to 'EDIT', edit_user_path(@user) %></p>

    <% end %>


    <h2>New book</h2>

    <%= form_with model: @new_book, url: books_path, method: :post do |f| %>

      <label>Title</label><br>
      <p><%= f.text_field :title %></p>

      <label>Opinion</label><br>
      <p><%= f.text_area :body %></p>

      <p><%= f.submit 'Create Book' %></p>
    <% end %>

  </div>


  <div>
  <h2>Book detail</h2>

  <table>
    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>

        <% if @user == current_user %>

          <td><%= link_to 'edit', edit_book_path(@book.id) %></td>
          <td><%= link_to 'destroy', book_path(@book.id), method: :delete, "data-confirm" => "Are You Sure?" %></td>

        <% end %>

      </tr>
    </tbody>
  </table>

  </div>

</div>

