<div class="container">
  <div class="row">

    <div class="col-md-3">

      <%= render partial: 'common', locals: { user: @user, new_book: @new_book } %>

    </div>

    <div class="col-md-8 offset-md-1">

      <h2>Book detail</h2>

      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>

                <%= image_tag @user.get_profile_image(100, 100) %><br>
                <%= @user.name %>

              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td><%= @book.body %></td>

            <% if @user == current_user %>

              <td>
                <%= link_to edit_book_path(@book.id) do %>

                  <button type="button" class="btn btn-success">Edit</button>

                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "Are You Sure?" do %>

                  <button type="button" class="btn btn-danger">Destroy</button>

                <% end %>
              </td>

            <% end %>

          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

