<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://kit.fontawesome.com/548cdec849.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark">

        <div class="container">
          <span><%= link_to "Bookers", root_path %></span>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id), class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-house-chimney"></i>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-people-group"></i>Users</span>
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-book-open"></i>Books</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-right-from-bracket"></i>Log out</span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-house-chimney"></i>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to homes_about_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-link"></i>About</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-user-plus"></i>Sign up</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                  <span><i class="fa-solid fa-right-to-bracket"></i>Log in</span>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <main>
      <% if flash[:notice] %>

      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>

      <% end %>
      <% if flash[:alert] %>

      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>

      <% end %>
      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
